{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id="create-post-view">
        {% if user.is_authenticated %}
            <h2>New post</h2>
            <form id="post-form">
                <div class="form-group">
                    <input type="hidden" disabled class="form-control" id="poster_id" value="{{ request.user.id }}">
                </div>
                <textarea class="form-control" id="post-body" placeholder="Post body" rows="6" required></textarea>
                <input type="submit" class="btn btn-outline-primary" id="form-button" value="Post"/>
            </form>
        {% endif %}
    </div>
    
    <div id="posts-view">
    </div>

    <!-- Basic Pagination -->
    <nav aria-label="Posts pages navigation" id="paginator">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" id="prev-page" href="">Previous</a>
            </li>
            <li class="page-item">
                <a class="page-link" id="next-page" href="">Next</a>
            </li>
        </ul>
    </nav>

{% endblock %}

{% block script %}
    <script src="{% static 'network/scripts.js' %}"></script>
{% endblock %}