{% extends "auctions/layout.html" %}

{% block body %}
    <h1>{{ listing.item_name }}</h1>
    <ul>
        <img src="{{ listing.image_url }}" alt="{{ listing.item_name }}">
        <div>{{ listing.item_description }}</div>
        <div>Current bid ${{ listing.starting_bid }}</div>
        <div>Auctioned by {{ listing.user }}</div>
        {% if listing.is_closed %}
            <div>Auction Closed</div>
            <!-- Inform Winner -->
            {% if user.is_authenticated %}
                {% if is_winner %}
                    <div>Congratulations {{ user }}, you won the auction!</div>
                {% endif %}
            {% endif %}
        {% else %}
            <div>Started at {{ listing.creation_datetime }}</div>
            <!-- Watchlist -->
            {% if user.is_authenticated %}
                {% if in_watchlist %}
                    <form action="{% url 'watchlist' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="listing_id" value="{{ listing.id }}">
                        <input type="submit" value="Remove from watchlist">
                    </form>
                {% else %}
                    <form action="{% url 'watchlist' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="listing_id" value="{{ listing.id }}">
                        <input type="submit" value="Add to watchlist">
                    </form>
                {% endif %}
            <!-- Bid -->
                <form action="{% url 'bid' listing.id %}" method="post">
                    {% csrf_token %}
                    <input type="number" name="price" min="{{ listing.starting_bid|add:1 }}">
                    <input type="submit" value="Bid">
                </form>
            {% endif %}
            <!-- Close Auction -->
            {% if is_creator %}
                <form action="{% url 'close' listing.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="close_auction" value="{{ listing.id }}">
                    <input type="submit" value="Close Auction">
                </form>
            {% endif %}
        {% endif %}
        
    </ul>
    
    <h2>Comments</h2>
    <ul>
        {% for comment in comments %}
            <li>{{ comment.user }} commented:</li>
            <div>{{ comment.text }}</div>
        {% endfor %}
    </ul>
    {% if user.is_authenticated %}
        <h2>Add Comment</h2>
        
        <form action="{% url 'comment' listing.id  %}" method="post">
            {% csrf_token %}
            {{ comment_form }}
            <input type="submit">
        </form>
    {% endif %}

{% endblock %}